{% extends 'base.html' %}
{% load static %}

{% block content %}
<form action="{% url 'create_test' %}" id="test-form" class="p-1 m-1" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="test-label" class="form-label">Title: </label>
    <input type="text" class="form-control" name="label" id="test-label" required />
    <label for="test-banner" class="form-label">Banner: </label>
    <input type="file" class="form-control" name="banner" id="test-banner">
    <br>
    <div id="questionsContainer"></div>
    <button type="button" onclick="addQuestion()" class="btn btn-md btn-success">Add Question</button>
    <button type="submit" class="btn btn-md btn-secondary">Save Test</button>
</form>
{% endblock content %}

{% block script %}
<script src="{% static 'testing/js/creator.js' %}"></script>
{% endblock script %}